name: Documentation

on: [push, pull_request]

jobs:
  build:
    # This build is to make PR comments for the sphinx warning and check if
    # web links are not broken 
    name: Check links and make PR comments
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        name: Install Python
        with:
          python-version: '3.13'

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz optipng

      - name: Install build docs
        shell: bash -l {0}
        run: |
          pip install .[doc]

      # Add sphinx warnings as PR comments
      - uses: sphinx-doc/sphinx-problem-matcher@master
      - name: Build documentation
        shell: bash -l {0}
        run: |
          cd doc
          make SPHINXOPTS="-W --keep-going" html

      - uses: actions/upload-artifact@v4
        with:
          path: doc/_build/html/
          name: doc_html

      - name: Check links
        shell: bash -l {0}
        run: |
          cd doc
          make linkcheck
